{% comment %} ここから下にHTMLをかく
セクションで囲まれていてクラス名はschemaに記載 {% endcomment %}
<div class="inner">
  {% assign metacollections = shop.metaobjects.category.values %}
  <ul class=" common-link-list">
    {% for metacollections in metacollections %}
    {% assign items = metacollections.collections %}
    {% comment %} {{ items.value }} {% endcomment %}
      {% for item in items.value %}
        <li class=" common-link-item custom__categ__item">
          <a href="{{item.url}}" class="common-link-item-link custom__categ__item__link">
            {{ item.title }}
          </a>
        </li>
      {% endfor %}
    {% endfor %}
    </ul>
</div>
{% comment %} ここから下の<style>にCSSをかく {% endcomment %}

<style>

</style>

{% style %}
  .custom__collections {
    background-color: {{ section.settings.backcolor }};
    padding-top: {{ section.settings.pcmt }}px;
    padding-bottom: {{ section.settings.pcmb }}px;
  }
  @media screen and (max-width: 768px) {
    .custom__collections {
      padding-top: {{ section.settings.spmt }}px;
      padding-bottom: {{ section.settings.spmb }}px;
    }
  }
{% endstyle %}


{% comment %} ここから下の<script>にJSをかく {% endcomment %}

<script></script>

{% schema %}
  {
    "name": "メタオブジェクトのコレクションリスト",
    "tag": "section",
    "class": "custom__collections",
    "settings": [
      {
        "type": "color",
        "id": "backcolor",
        "label": "背景色"
      },
      {
        "type": "range",
        "id": "pcmt",
        "label": "上の余白",
        "default": 0,
        "max": 500,
        "min": 0,
        "step": 10,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "pcmb",
        "label": "下の余白",
        "default": 0,
        "max": 500,
        "min": 0,
        "step": 10,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "spmt",
        "label": "スマホ上の余白",
        "default": 0,
        "max": 500,
        "min": 0,
        "step": 10,
        "unit": "px"
      }, {
        "type": "range",
        "id": "spmb",
        "label": "スマホ下の余白",
        "default": 0,
        "max": 500,
        "min": 0,
        "step": 10,
        "unit": "px"
      }

    ],
    "blocks": [
      {
        "type": "link",
        "name": "カスタム",
        "settings": [
          {
            "type": "text",
            "id": "custom",
            "label": "タイトル"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "メタオブジェクトのコレクションリスト"
      }
    ]
  }
{% endschema %}