
<div class="swiper">
<div class="swiper-wrapper custom__slider__wrapper">
{% for block in section.blocks  %}
<div class="swiper-slide custom__slider__item" >
    <a href="{{block.settings.link}}">
    <img class="custom__slider__item__image" src="{{block.settings.image | image_url: width :1920}}" alt="{{image.alt}}" height="{{image.height}}" width=" {{image.width}}" loading="lazy"></a>
    <h2 class="custom__slider__item__title">{{ block.settings.title}}</h2>
    </div>
{% endfor %}
</div>

  <!-- 前後の矢印 -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-pagination"></div>
</div>




<style>
.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  color: #ffffff;
  width: 100%;
  height: inherit;
  text-align: center;
  margin-top: 10px;

}
.custom__slider__item {
  height: 100%;
  aspect-ratio: 1.833/1;
  border-radius: 20px;
  overflow: hidden;
}
.swiper-slide a {
    display: block;
    height: inherit;
    width: 100%;
}
.swiper-pagination {
    bottom: 45px !important;
}
.swiper-pagination span {
    width: 15px;
    height: 15px;
    background: linear-gradient(135deg, #7DD3C0 0%, #5BC9A8 100%);
    border: 1px solid #999;
    }
.swiper-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.custom__slider__item__image {
  border-radius: 30px;
}

@media screen and (max-width: 768px) {
  .swiper-pagination span {
    width: 8px;
    height: 8px;
  }
  .custom__slider__item {
  height: 300px;
} 
.swiper-slide {
  margin-top: 0;
}

  .swiper-pagination {
    bottom: 22px!important;
  }
  .swiper-slide img {
    object-fit: cover;
    border-radius: 20px;
    overflow: hidden;
    height: 200px;
    margin-top: 30px;
}
}

</style>

{% style %}
.fv__slider {
   background-color:{{ section.settings.backcolor }};
  padding-top: {{section.settings.pcmt}}px;
  padding-bottom:{{section.settings.pcmb}}px;
}

  @media screen and (max-width:768px) {
.fv__slider {
    padding-top: {{section.settings.spmt}}px;
    padding-bottom:{{section.settings.spmb}} px;
}
}
{% endstyle %}



<script>
document.addEventListener("DOMContentLoaded", function () {
const swiper = new Swiper(".swiper", {
    slidesPerView: 1.5,
    loop:true,
    effect: 'slide',
    speed: 1000, 
    centeredSlides:true,
  autoplay: { 
    delay: 3000, 
    disableOnInteraction: false, 
  },
  breakpoints: {
  // when window width is >= 320px
  320: {
    slidesPerView: 1.2,
    spaceBetween: 15
  },
  // when window width is >= 640px
  640: {
    slidesPerView: 1.5,
    spaceBetween: 20
  }
},

    

  pagination: {
    el: ".swiper-pagination"
  },

  navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev"
  }
});
});
</script>

{% schema %}
  {
    "name": "FVのスライダー",
  "tag": "section",
  "class": "fv__slider",
  "settings": [
    {
    "type": "color",
    "id":"backcolor",
    "label":"背景色"
    },
    {
      "type":"range",
      "id": "pcmt",
      "label": "上のマージン",
      "default":60,
      "max": 500 ,
      "min": 0,
      "step": 10,
      "unit": "px"
    },
    {
      "type":"range",
      "id": "pcmb",
      "label": "下のマージン",
      "default":60,
      "max": 500 ,
      "min": 0,
      "step": 10,
      "unit": "px"
    },
    {
      "type":"range",
      "id": "spmt",
      "label": "スマホ上のマージン",
      "default":60,
      "max": 500 ,
      "min": 0,
      "step": 10,
      "unit": "px"
    },
    {
      "type":"range",
      "id": "spmb",
      "label": "スマホ下のマージン",
      "default":60,
      "max": 500 ,
      "min": 0,
      "step": 10,
      "unit": "px"
    }

],
 "blocks": [
    {
      "type": "link",
      "name": "カスタム",
      "settings": [
        {
          "type": "url",
          "id": "link",
          "label": "URL"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "画像"
        },
        {
          "type": "text",
          "id": "titel",
          "label": "文字"
        }
      ]
    }
  ],
"presets":[
  {
    "name":"FVのスライダー"
  }
]
  }
{% endschema %}