{% comment %} ここから下にHTMLをかく
セクションで囲まれていてクラス名はschemaに記載 {% endcomment %}
<div class="fv__category__inner">

<h2 class="fv__category__title common-secondary-title">{{ section.settings.title }}</h2>
<span class="fv__category__subtitle common-secondary-subtitle">{{ section.settings.subtitle }}</span>
<ul class="fv__category__items common-link-list">
  {% for block in section.blocks %}
    {% assign Collection = block.settings.collection %}
    <li class="fv__category__item common-link-item">
        <a class="fv__category__link common-link-item-link" href="{{ Collection.url }}">
         {%if Collection.featured_image != blank%}
        <img class="common-link-item__image" src="{{ block.settings.image | image_url: width:300  }}" alt="{{ image.alt }}"
        loading="lazy"
        width="{{image.width}}"
         height="{{image.height}}">
         {% else %}
         <img class="common-link-item__image" src="https://cdn.shopify.com/s/files/1/0686/3336/2674/files/logo.png?v=1713250065" alt="{{ image.alt }}"
         loading="lazy"
         width="{{image.width}}"
          height="{{image.height}}">
          {%endif%} 
         {{Collection.title}} </a>
    </li>
{% endfor %}
</ul>

{% comment %} <div class="custom-top-news__button-wrapper">
    {% render 'button-custom', text: "もっと見る", link:"/collections" %}
  </div> {% endcomment %}
</div>



{% comment %} ここから下の<style>にCSSをかく {% endcomment %}

<style>
  .fv__category__inner {
    width: 100%;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
  }
  .fv__category__link {
    justify-content: left;
  }

  @media screen and (max-width: 768px) {
    .fv__category__inner {
      padding: 0 12px;
    }
  }


</style>

{% style %}
.fv__category {
    background-color:{{ section.settings.backcolor }};
}
.fv__category{
  padding-top: {{section.settings.pcmt}}px;
  padding-bottom:{{section.settings.pcmb}}px;
}
  @media screen and (max-width:768px) {
.fv__category {
    padding-top: {{section.settings.spmt}}px;
    padding-bottom:{{section.settings.spmb}} px;
}
}
{% endstyle %}


{% comment %} ここから下の<script>にJSをかく {% endcomment %}

<script>

</script>

{% schema %}
  {
    "name": "トップ　カテゴリーから探す",
  "tag": "section",
  "class": "fv__category",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "タイトル"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "サブタイトル"
    },
    {
    "type": "color",
    "id":"backcolor",
    "label":"背景色"
    },
    {
      "type":"range",
      "id": "pcmt",
      "label": "上のマージン",
      "default":60,
      "max": 500 ,
      "min": 0,
      "step": 10,
      "unit": "px"
    },
    {
      "type":"range",
      "id": "pcmb",
      "label": "下のマージン",
      "default":60,
      "max": 500 ,
      "min": 0,
      "step": 10,
      "unit": "px"
    },
    {
      "type":"range",
      "id": "spmt",
      "label": "スマホ上のマージン",
      "default":60,
      "max": 500 ,
      "min": 0,
      "step": 10,
      "unit": "px"
    },
    {
      "type":"range",
      "id": "spmb",
      "label": "スマホ下のマージン",
      "default":60,
      "max": 500 ,
      "min": 0,
      "step": 10,
      "unit": "px"
    }

],
 "blocks": [
    {
      "type": "link",
      "name": "カスタム",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "画像"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "コレクション"
        }
      ]
    }
  ],
"presets":[
  {
    "name":"トップ　カテゴリーから探す1"
  }
]
  }
{% endschema %}