{% comment %} ここから下にHTMLをかく
セクションで囲まれていてクラス名はschemaに記載 {% endcomment %}

<div class="fv__cate__bottom__items">
    {% for block in section.blocks %}
        <div class="fv__cate__bottom__item">
            <img src="{{block.settings.image | image_url: width: 800 }}"alt="{{ image.alt }}"
            loading="lazy"
            width="{{image.width}}"
             height="{{image.height}}">
            </div>
        {% endfor %}
</div>




{% comment %} ここから下の<style>にCSSをかく {% endcomment %}

<style>
.fv__cate__bottom__items {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.fv__cate__bottom__item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
</style>

{% style %}
.fv__cate__bottom {
   background-color:{{ section.settings.backcolor }};
  padding-top: {{section.settings.pcmt}}px;
  padding-bottom:{{section.settings.pcmb}}px;
}
  @media screen and (max-width:768px) {
.custom {
    padding-top: {{section.settings.spmt}}px;
    padding-bottom:{{section.settings.spmb}} px;
}
}
{% endstyle %}


{% comment %} ここから下の<script>にJSをかく {% endcomment %}

<script>

</script>

{% schema %}
  {
    "name": "画像　横並び",
  "tag": "section",
  "class": "fv__cate__bottom",
  "settings": [
    {
    "type": "color",
    "id":"backcolor",
    "label":"背景色"
    },
    {
      "type":"range",
      "id": "pcmt",
      "label": "上のマージン",
      "default":60,
      "max": 500 ,
      "min": 0,
      "step": 10,
      "unit": "px"
    },
    {
      "type":"range",
      "id": "pcmb",
      "label": "下のマージン",
      "default":60,
      "max": 500 ,
      "min": 0,
      "step": 10,
      "unit": "px"
    },
    {
      "type":"range",
      "id": "spmt",
      "label": "スマホ上のマージン",
      "default":60,
      "max": 500 ,
      "min": 0,
      "step": 10,
      "unit": "px"
    },
    {
      "type":"range",
      "id": "spmb",
      "label": "スマホ下のマージン",
      "default":60,
      "max": 500 ,
      "min": 0,
      "step": 10,
      "unit": "px"
    }

],
 "blocks": [
    {
      "type": "link",
      "name": "カスタム",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "画像"
        }
      ]
    }
  ],
"presets":[
  {
    "name":"画像　横並び"
  }
]
  }
{% endschema %}